<!doctype html>
<html lang="es" class="demo-2 no-js">
<head>
    <meta charset="UTF-8">
    <title>Pruebas con mustache</title>
    <link rel="stylesheet" href="css/normalize.css">
    
    <link rel="stylesheet" href="css/component.css">
    
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


</head>
<body>
    <section id="grid" class="grid clearfix">
    
    </section>
    
    
    <script src="js/mustache.js"></script>
<script type="mustache/x-tmpl" id="neijingGaleria">
    {{#photo}}
    <a href="http://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}_b.jpg" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                    <figure>
                        <img src="http://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}_c.jpg" alt="{{descripcion}}"/>
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                        <figcaption>
                            <h2>{{title}}</h2>
                            <p>{{descripcion}}</p>
                            <button><i class="icon-search"></i> Ver</button>
                        </figcaption>
                    </figure>
                </a>
    {{/photo}}
    {{#photo}}
    <div class="one small-tablet half padded"><a href="http://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}_b.jpg" title="{{title}}" class="block green tooltip"  ><img src="http://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}_c.jpg" alt="{{title}} {{descripcion}}"></a>
                          <p><strong>{{title}}</strong></p>
                          <p>{{descripcion}}</p>
    </div>

    {{/photo}}
    {{^photo}}
    <a href="#" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                    <figure>
                        <img src="img/4.png" />
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                        <figcaption>
                            <h2>Crystalline</h2>
                            <p>Soko radicchio bunya nuts gram dulse.</p>
                            <button>View</button>
                        </figcaption>
                    </figure>
                </a>
    {{/photo}}
</script>
<script>
    var data = {"photo": { "id": "13513780914", "secret": "8fd81afdc1", "server": "2827", "farm": 3, "dateuploaded": "1396195120", "isfavorite": 0, "license": 0, "safety_level": 0, "rotation": 0, "originalsecret": "eb70b61134", "originalformat": "png"}}
    /*{"photo": [
      { "id": "13322986535", "secret": "62c131347c", "server": "7155", "farm": 8, "title": "Masaje abril 2014", "descripcion":"Abril - lumbalgias", "isprimary": 0 },
      { "id": "13247460914", "secret": "1124cb2ed0", "server": "7409", "farm": 8, "title": "Conferencia \"La Importancia de Recuperar el Sentido del Humor\" Taller \"La Yoga de la Risa\"",  "descripcion":"Viernes 28 de marzo 18:00 hrs.\nComplejo Cultural El Carmen\nEntrada Gratuita","isprimary": 0 },
      { "id": "13247492604", "secret": "d0aaa328cd", "server": "3736", "farm": 4, "title": "Taller de Danzas de Vida", "descripcion":"Sábado 22 de marzo de 10:00 a 14:00 hrs.", "isprimary": 0 },
      { "id": "13247486114", "secret": "d35b569741", "server": "7031", "farm": 8, "title": "Medicina Tradicional China", "descripcion":"Inicio: Septiembre de 2014","isprimary": 0 },
      { "id": "13247132895", "secret": "a3e05c3750", "server": "7096", "farm": 8, "title": "Taller de Qi Gong Li", "descripcion":"Todos los miércoles 17:00 hrs", "isprimary": 0 },
      { "id": "13247148475", "secret": "f311a6f6a6", "server": "3811", "farm": 4, "title": "Escoge tu Taller", "descripcion":"Talleres y Conferencias 2014", "isprimary": 0 },
      { "id": "13247283203", "secret": "a7f711a3e0", "server": "7406", "farm": 8, "title": "Taller de Canto Sanador", "descripcion":"Todos los martes  19:00 hrs", "isprimary": 1 }
    ]
      };*/
    var tmpl = document.getElementById("neijingGaleria").innerHTML;
    var html = Mustache.to_html(tmpl, data);
    var box = document.getElementById("grid");

    box.innerHTML = html;
</script>
<script src="js/snap.svg-min.js"></script>
<script>
        (function() {
     
            function init() {
                var speed = 250,
                    easing = mina.easeinout;
         
                [].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
                    var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
                        pathConfig = {
                            from : path.attr( 'd' ),
                            to : el.getAttribute( 'data-path-hover' )
                        };
         
                    el.addEventListener( 'mouseenter', function() {
                        path.animate( { 'path' : pathConfig.to }, speed, easing );
                    } );
         
                    el.addEventListener( 'mouseleave', function() {
                        path.animate( { 'path' : pathConfig.from }, speed, easing );
                    } );
                } );
            }
         
            init();
         
        })();
    </script>
</body>
</html>