<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo 3 LIstas con mustache</title>
</head>
<body>
    <div id="box"></div>


<script src="js/mustache.js"></script>
<script type="mustache/x-tmpl" id="helloTmpl">
    <ul>
        {{#users}}
            <li>{{name}}</li>
        {{/users}}
    </ul>
</script>
<script type="mustache/x-tmpl" id="galerias">
        
</script>
<script>
    var data = {users: [
        {name: "Chano"},
        {name: "Fatyma"},
        {name: "Alen"},
        {name: "Cxuko"},
        {name: "Kary"}
        ]

    };
    var tmpl = document.getElementById("helloTmpl").innerHTML;
    var html = Mustache.to_html(tmpl, data);
    var box = document.getElementById("box");

    box.innerHTML = html;
</script>
    
</body>
</html>