<section id="grid" class="grid clearfix">
    <a href="http://farm8.staticflickr.com/7409/13247460914_1124cb2ed0_b.jpg" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                    <figure>
                        <img src="http://farm8.staticflickr.com/7409/13247460914_1124cb2ed0_c.jpg" alt="Viernes 28 de marzo 18:00 hrs.
Complejo Cultural El Carmen
Entrada Gratuita">
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M0,0C0,0,0,171.14385,0,171.14385C24.580441,186.61523,55.897012,195.90157,90,195.90157C124.10299,195.90157,155.41956,186.61523,180,171.14385C180,171.14385,180,0,180,0C180,0,0,0,0,0C0,0,0,0,0,0"></path><desc>Created with Snap</desc><defs></defs></svg>
                        <figcaption>
                            <h2>Conferencia "La Importancia de Recuperar el Sentido del Humor" Taller "La Yoga de la Risa"</h2>
                            <p>Viernes 28 de marzo 18:00 hrs.
Complejo Cultural El Carmen
Entrada Gratuita</p>
                            <button><i class="icon-search"></i> Ver</button>
                        </figcaption>
                    </figure>
                </a>
    <a href="http://farm4.staticflickr.com/3736/13247492604_d0aaa328cd_b.jpg" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                    <figure>
                        <img src="http://farm4.staticflickr.com/3736/13247492604_d0aaa328cd_c.jpg" alt="Sábado 22 de marzo de 10:00 a 14:00 hrs.">
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M0,0C0,0,0,171.14385,0,171.14385C24.580441,186.61523,55.897012,195.90157,90,195.90157C124.10299,195.90157,155.41956,186.61523,180,171.14385C180,171.14385,180,0,180,0C180,0,0,0,0,0C0,0,0,0,0,0"></path><desc>Created with Snap</desc><defs></defs></svg>
                        <figcaption>
                            <h2>Taller de Danzas de Vida</h2>
                            <p>Sábado 22 de marzo de 10:00 a 14:00 hrs.</p>
                            <button><i class="icon-search"></i> Ver</button>
                        </figcaption>
                    </figure>
                </a>
    <a href="http://farm8.staticflickr.com/7031/13247486114_d35b569741_b.jpg" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                    <figure>
                        <img src="http://farm8.staticflickr.com/7031/13247486114_d35b569741_c.jpg" alt="Inicio: Septiembre de 2014">
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"></path><desc>Created with Snap</desc><defs></defs></svg>
                        <figcaption>
                            <h2>Medicina Tradicional China</h2>
                            <p>Inicio: Septiembre de 2014</p>
                            <button><i class="icon-search"></i> Ver</button>
                        </figcaption>
                    </figure>
                </a>
    <a href="http://farm8.staticflickr.com/7096/13247132895_a3e05c3750_b.jpg" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                    <figure>
                        <img src="http://farm8.staticflickr.com/7096/13247132895_a3e05c3750_c.jpg" alt="Todos los miércoles 17:00 hrs">
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"></path><desc>Created with Snap</desc><defs></defs></svg>
                        <figcaption>
                            <h2>Taller de Qi Gong Li</h2>
                            <p>Todos los miércoles 17:00 hrs</p>
                            <button><i class="icon-search"></i> Ver</button>
                        </figcaption>
                    </figure>
                </a>
    <a href="http://farm4.staticflickr.com/3811/13247148475_f311a6f6a6_b.jpg" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                    <figure>
                        <img src="http://farm4.staticflickr.com/3811/13247148475_f311a6f6a6_c.jpg" alt="Todos los martes  19:00 hors">
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"></path><desc>Created with Snap</desc><defs></defs></svg>
                        <figcaption>
                            <h2>Escoge tu Taller</h2>
                            <p>Todos los martes  19:00 hors</p>
                            <button><i class="icon-search"></i> Ver</button>
                        </figcaption>
                    </figure>
                </a>
    <a href="http://farm8.staticflickr.com/7406/13247283203_a7f711a3e0_b.jpg" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                    <figure>
                        <img src="http://farm8.staticflickr.com/7406/13247283203_a7f711a3e0_c.jpg" alt="">
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"></path><desc>Created with Snap</desc><defs></defs></svg>
                        <figcaption>
                            <h2>Taller de Canto Sanador</h2>
                            <p></p>
                            <button><i class="icon-search"></i> Ver</button>
                        </figcaption>
                    </figure>
                </a>
</section>