<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Templates con mustache 02</title>
</head>
<body>
    <div id="box"></div>


<script src="js/mustache.js"></script>
<script type="mustache/x-tmpl" id="helloTmpl">
    <h1>{{title}}</h1>
</script>
<script>
    var data = {title: "Hello World"};
    var tmpl = document.getElementById("helloTmpl").innerHTML;
    var html = Mustache.to_html(tmpl, data);
    var box = document.getElementById("box");

    box.innerHTML = html;
</script>
</body>
</html>